[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
AssetStoreTools/
/Assets/AssetStoreTools*
/Assets/Plugins/UnityPurchasing/Bin/
/Assets/Plugins/UnityPurchasing/Editor/UnityPurchasing.Editor.dll
/Assets/Plugins/UnityPurchasing/Editor/UnityPurchasing.Editor.dll.meta
/Assets/Plugins/UnityPurchasing/Runtime/UnityPurchasing.Runtime.dll
/Assets/Plugins/UnityPurchasing/Runtime/UnityPurchasing.Runtime.dll.meta
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
.DS_Store
[Tt]humbs.db
Icon?
